body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: rgba(105, 114, 198, 0.75);
  border-radius: 25px;
  margin: auto;
  width: 75%;
}
.header {
  background-color: rgb(73, 81, 145);
  border-radius: 25px;
  text-align: center;
  padding: 10px;
}
main {
  margin: 0px 400px 0px 400px;
  padding: 20px 0px;
}
