* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
#header {
  background-color: #eee;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
#header-img {
  width: 300px;
}
.menu {
  display: none;
}
#nav-bar ul {
  position: fixed;
  right: 5%;
  display: flex;
  flex-direction: row;
  list-style: none;
}
#nav-bar ul li a {
  margin: 0px 30px;
  text-decoration: none;
  color: black;
}
#hero {
  display: flex;
  margin: 100px 0px 0px 0px;
  flex-direction: column;
  align-items: center;
}
#form input {
  display: block;
  margin: 20px auto;
}
#email {
  max-width: 300px;
  height: 100%;
}
#submit {
  background-color: rgb(230, 192, 40);
  border-color: transparent;
  font-weight: bold;
  height: 30px;
}
#features {
  padding: 50px;
}
#features .grid {
  display: flex;
  margin: 0 15%;
}
#features .icon {
  color: orange;
  width: 20vw;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#features .desc {
  width: 80vw;
  height: 125px;
}
#how-it-works {
  width: 50%;
  margin: auto;
}
#video {
  width: 100%;
  height: 400px;
}
#pricing {
  display: flex;
  justify-content: center;
  margin: 40px;
}
#pricing .product {
  border: 1px solid #ddd;
  width: 20%;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
#pricing .level {
  background-color: #ddd;
  padding: 15%;
}
.product button {
  background-color: rgb(230, 192, 40);
  border-color: transparent;
}
footer {
  background-color: #ddd;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  #header {
    display: block;
  }
  #header label {
    display: block;
    font-size: larger;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  #nav-bar ul {
    display: none;
  }
  #menu:checked ~ #nav-bar ul {
    display: block;
    position: absolute;
  }
  #header-img {
    width: 200px;
  }
  #features .icon {
    display: none;
  }
  #pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing .product {
    border: 1px solid #ddd;
    width: 60%;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }
}
