:root {
  --background-color: rgb(164, 117, 69);
  --font-color: rgb(255, 255, 255);
  --fontsize: 20px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 解決固定nav定位錯誤問題 */
:target:before {
  content: "";
  display: block;
  height: 125px;
}
header {
  background-color: var(--background-color);
  width: 100%;
  height: 125px;
  position: sticky;
  top: 0px;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 7% 0 7%;
}
ul li {
  display: inline-block;
  width: 8%;
  padding: 5px;
  border-radius: 5px;
}
ul li a,
ul li i {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}
ul li:hover {
  background-color: rgb(190, 185, 170);
}
#login {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--fontsize);
  text-align: center;
}
#login button {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--fontsize);
  border: 2px solid var(--font-color);
  padding: 15px 32px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
}
#login,
#sing_up_form,
#delete_acc,
#logout {
  margin: 10px;
  display: none;
}
#sing_up_form input,
#sing_up_form label {
  display: inline-block;
  margin: 5px;
}
#sing_up_form label {
  text-align: left;
  width: 25%;
}
#sing_up_form input {
  text-align: left;
  width: 50%;
}
.main-area {
  text-align: center;
}
#heading img {
  margin: 30px auto;
  width: 80%;
  border-radius: 30px;
}
#about,
#news {
  width: 60%;
  margin: auto;
}
#menu {
  max-width: 60%;
  margin: 30px auto;
  border: dotted 5px var(--background-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.menu_title {
  background-color: var(--background-color);
  height: 6 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 40%;
}
.menu_title img {
  padding: 5px;
}
.hiddenimg {
  display: none;
  position: absolute;
}
.hiddenimg img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2), 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.coffee:hover ~ .hiddenimg,
.dessert:hover ~ .hiddenimg {
  display: block;
  position: absolute;
  z-index: 1;
}
.coffee p {
  display: inline-block;
  text-align: left;
  width: 20%;
  padding: 10px;
}
.price {
  display: inline-block;
  text-align: right;
  width: 20%;
  margin: 10px;
}
.input_group,
.ordered {
  display: inline;
}
.products-img {
  margin: auto;
}
.products-img img {
  margin: 10px;
}
#map {
  width: 40%;
  height: 300px;
  margin: 50px;
}
.shopping-area {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.shopping-box {
  flex: 0 0 calc(100% / 4);

  padding: 15px;
}
.content {
  border: 1px solid #bbb;
  border-radius: 5px;
  overflow: hidden;
}
.content img {
  width: 100%;
  display: block;
}
.cart_list {
  background-color: rgba(164, 117, 69, 50%);
  width: 20%;
  height: 70%;
  position: fixed;
  right: 0;
  top: 125px;
  padding: 30px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.cart-item img {
  display: block;
  width: 70px;
  margin-right: 5px;
}
footer {
  background-color: var(--background-color);
  color: var(--font-color);
  width: 100%;
  height: 100px;
  display: inline-block;
  position: relative;
  bottom: 0;
  text-align: center;
}
.f-icon {
  font-size: 2.5rem;
  margin: auto;
  padding: 2% 0;
  width: 25%;
  display: flex;
  justify-content: space-around;
}
footer p {
  position: absolute;
  top: 45%;
  right: 10%;
}
.top {
  background-color: var(--background-color);
  text-decoration: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #decba1;
  position: fixed;
  right: 5%;
  top: 80%;
}

@media (max-width: 996px) {
  ul li {
    font-size: 1rem;
    display: inline-block;
    width: 8%;
    height: 50px;
  }
  footer {
    height: 80px;
    padding: 1% 0 0 0;
    display: block;
  }
  .f-icon {
    font-size: 2rem;
    padding: 1%;
    width: 20%;
  }
  footer p {
    position: initial;
  }
}

@media (max-width: 768px) {
  header li,
  #heading,
  #news,
  .products-img,
  #map {
    display: none;
  }
  header {
    height: 100px;
  }
  .logo {
    width: 100px;
    height: 100px;
    margin: 0px auto;
  }
  .input_group,
  .ordered {
    display: inline;
  }
  .about {
    margin: 10px;
    text-align: center;
  }
  .f-icon {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 0.6rem;
  }
}
