<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>資料已經寄送至伺服器端</h1>
    <h2>以下是您提供的資料:</h2>
    <P>您的姓名是<%= name %></P>
    <p>您的年齡是<%= age %></p>
  </body>
</html>
